body {
  /* Set the body of the page to be flex and expand to occupy the whole screen height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95dvh;
}

/* ========================= */
/* MAIN SECTION START */
.main {
  /* Styling to handel the main conent of the login page */
  /* Needed to center the content to the center of the page */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_inner {
  /* Styling to handel the inner section of the main conent */
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
}

/* MAIN SECTION END */
/* ========================= */

/* ========================= */
/* MAIN SECTION TITLE START */

.main h1 {
  font-size: 42px;
  text-align: left;
  margin-bottom: -15px;
}

.main_inner p.welcome_para {
  font-size: medium;
  color: var(--black_70);
}

/* MAIN SECTION TITLE END */
/* ========================= */

/* ========================= */
/* LOGIN FORM SECTION START */
#login_form .field {
  font-size: small;
  color: var(--black_70);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
}

#login_form .field label {
  margin-bottom: 5px;
}

#login_form .field .input {
  box-sizing: border-box;
  width: 100%;
  min-height: 36px;
  padding: 6px 10px;
  font-size: 14px;
  caret-color: var(--primary_color);
  background-color: var(--secondary_color);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: var(--black_20);
}

/* LOGIN FORM SECTION END */
/* ========================= */

/* ========================= */
/* FORGET PASS LINK START */
.forget_pass {
  text-align: end;
  font-size: small;
}

.link {
  color: var(--primary_color);
}

/* FORGET PASS LINK END */
/* ========================= */

/* ========================= */
/* LOGIN BUTTON STYLING START */
.login {
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

/* LOGIN BUTTON STYLING END */
/* ========================= */

/* ========================= */
/* CREATE ACCOUNT LINK START */

div.create_account_prompt {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: small;
  color: var(--black_60);
}

/* CREATE ACCOUNT LINK END */
/* ========================= */
