body {
  /* Set the body of the page to be flex and expand to occupy the whole screen height */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 95dvh;
}

/* ========================= */
/* MAIN SECTION START */
.main {
  /* Styling to handel the main conent of the page */
  /* Needed to center the content to the center of the page */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main_inner {
  /* Styling to handel the inner section of the main conent */
  width: 100%;
  max-width: 420px;
  display: flex;
  flex-direction: column;
}

/* MAIN SECTION END */
/* ========================= */

/* ========================= */
/* MAIN SECTION TITLE START */

.main h1 {
  font-size: 40px;
  text-align: left;
  margin-bottom: -15px;
}

.main_inner p.welcome_para {
  font-size: medium;
  color: var(--black_70);
}

/* MAIN SECTION TITLE END */
/* ========================= */

/* ========================= */
/* REGISTER FORM SECTION START */
#register_form .field {
  font-size: small;
  color: var(--black_70);
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  flex: 1;
}

#register_form .small_fields {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: -20px;
}

#register_form .field label {
  margin-bottom: 5px;
}

#register_form .field .input {
  box-sizing: border-box;
  width: 100%;
  min-height: 36px;
  padding: 6px 10px;
  font-size: 14px;
  caret-color: var(--primary_color);
  background-color: var(--secondary_color);
  border-style: solid;
  border-width: 1px;
  border-radius: 2px;
  border-color: var(--black_20);
}

/* REGISTER FORM SECTION END */
/* ========================= */

/* ========================= */
/* LINK STYLING START */

.link {
  color: var(--primary_color);
}

/* LINK STYLING END */
/* ========================= */

/* ========================= */
/* CREATE ACCOUNT BUTTON STYLING START */

.create_account {
  box-sizing: border-box;
  width: 100%;
  margin-top: 20px;
  margin-bottom: 10px;
  text-align: center;
}

/* CREATE ACCOUNT BUTTON STYLING END */
/* ========================= */

/* ========================= */
/* CREATE ACCOUNT LINK START */

div.create_account_prompt {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
  font-size: small;
  color: var(--black_60);
}

/* CREATE ACCOUNT LINK END */
/* ========================= */
